<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/setting.css" />
    <title>SinaLab</title>
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <p><%=success%></p>
    <p><%=error%></p>
    <section class="setting-section">
      <div class="partientlist-section-part1">
        <div>
          <h2>Bienvenue , <%=user.username%></h2>
          <p>
            Une autre phrase pour souhaiter la bienvenue ou je ne sais quoi mais
            c’est une phrase
          </p>
        </div>
        <div></div>
      </div>
      <div class="setting-part2">
        <div class="setting-part21">
          <h3>PARAMETRES</h3>
          <div class="con-modifier-compte">
            <i class='bx bx-user' style='color:#000'  ></i>
            <p class="modifier-compte" >Compte</p>
            
          </div>
          <div>
            <p class="modifier-password" >
             <a href="/updateProfile"> modifier Compte</a>
              
            </p>
            <i class='bx bx-chevron-right' style='color:#454545'  ></i>
          </div>
          <div>
            <p class="modifier-password" >
              <a href="/updatePassword">modifier mot de passe</a>
              
            </p>
            <i class='bx bx-chevron-right' style='color:#454545'  ></i>
          </div>
       
        </div>
        <div class="setting-part22">
          <h3>Modifier le mot de pass</h3>
          <img alt="" src="<%=theUser.photo%>"/>

        <form action="/updatePassword" method="POST" class="form-show-info-profile">
            
              <div class="input-wrapper">
                <label for="new">Nouveau mot de passe </label>
                <input id="new" type="password" name="newPassword"/>
              </div>
              <div class="input-wrapper">
                <label for="new-pass">Confirmer mot de passe</label>
                <input id="new-pass" type="password" name="confirmPassword"/>
              </div>
              

          <button class="submit-new-info">update</button>
        </form>
        </div>
      </div>
    </section>
    
  </body>
</html>
